<ul>
    <li (click)="onselect(1)">Action</li>
    <li (click)="onselect(2)">Adventure</li>
    <li (click)="onselect(3)">Fantasy</li>
    <li (click)="onselect(4)">Horror</li>
    <li (click)="onselect(5)">Racing</li>
    <li (click)="onselect(6)">Simulation</li>
    <li (click)="onselect(7)">Time management</li>
    <li (click)="onselect(8)">Fun</li>
    <li (click)="onselect(9)">Board</li>
    <li (click)="onselect(10)">Puzzle</li>
    <li (click)="onselect(11)">Brain teasers</li>
    <li (click)="onselect(12)">Hidden object</li>
</ul>
<router-outlet></router-outlet>
